<div class="bg-navbar">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="toggleIcon-logo">
                <img src="assets/images/Menu.png" (click)="openSidenav()" class="toggleIcon">
                <a routerLink='/'><img src=" assets/images/logo.png" class="logo"></a>
            </div>
            <div class="items">
                <ul class="d-flex align-items-center">
                    <li>
                        <img src=" assets/images/search.png" class="search">
                    </li>
                    <li>
                        <img src="assets/images/notification.png" class="notification">
                    </li>
                    <li>
                        <img src="assets/images/img.png" class="profile">
                        <span>User Name</span>
                    </li>
                    <li>
                        <img src="assets/images/settings.png" class="settings">
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>