<mat-nav-list class="sidenav-list">
    <a mat-list-item (click)="onToggleClose()" routerLink='/'>
        <img src=" assets/images/logo.png" class="logo">
    </a>
    <hr class="mt-3">
    <a mat-list-item (click)="onToggleClose()">
        <img src=" assets/images/search.png" class="search">
    </a>
    <a mat-list-item (click)="onToggleClose()">
        <img src="assets/images/notification.png" class="notification">
    </a>
    <a mat-list-item (click)="onToggleClose()">
        <img src="assets/images/img.png" class="profile">
        <span>User Name</span>
    </a>
    <a mat-list-item (click)="onToggleClose()">
        <img src="assets/images/settings.png" class="settings">
    </a>
</mat-nav-list>