<div class="bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <ul class="pages">
                    <li>News</li>
                    <li>Events</li>
                    <li>About Us</li>
                    <li>FAQs</li>
                </ul>
            </div>
            <div class="col-lg-2">
                <ul class="pages">
                    <li>Privacy Policy</li>
                    <li>Contact Us</li>
                    <li>Complains</li>
                </ul>
            </div>
            <div class="col-lg-5">
                <p>Subscribe to Newsletter</p>
                <input placeholder="Email Address">
                <button>Subscribe</button>
            </div>
            <div class="col-lg-3">
                <p>Follow us on</p>
                <div class="social-media">
                    <img src="assets/images/instagram.png">
                    <img src="assets/images/youtube.png">
                    <img src="assets/images/linkedIn.png">
                    <img src="assets/images/Facebook.png" class="facebook">
                    <img src="assets/images/twitter.png">
                </div>
            </div>
        </div>
    </div>
</div>
<app-bottom-bar></app-bottom-bar>